@charset "utf-8";

@import url("./font.css");

/* 공통 */

body {
    font-family: 'Pretendard-R';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #222;
}

section {
    width: 100%;
    height: 100vh;
}

/* 굵은 폰트 */
.bolder {
    font-family: 'Pretendard-EB';
}

.bold {
    font-family: 'Pretendard-B';
}

/* 헤더 시작 */

.navbar-brand {
    color: #222;
}

.bg-body-tertiary {
    background-color: #fff;
    --bs-bg-opacity: 0;
}

.navbar-brand-txt {
    font-size: 16px;
    font-family: 'Pretendard-R';
}

.nav-link {
    color: #222;
}

.nav-link.on {
    color: white;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
    color: #222;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.navbar-logo img {
    width: 30px;
}

/* 헤더 반응형 */
@media screen and (max-width: 991px) {
    .navbar-logo {
        display: none;
    }

    button.navbar-toggler {
        padding: 0px 12px 20px 0px;
    }
}

@media screen and (max-width: 720px) {
    .navbar-brand {
        font-size: 2.78vw;
    }

    .navbar-brand-txt {
        font-size: 2.22vw;
    }

    .navbar-toggler-icon {
        width: 4.17vw;
        height: 4.17vw;
    }
}

@media screen and (max-width: 576px) {
    .navbar-brand {
        font-size: 16px;
    }

    .navbar-brand-txt {
        font-size: 13px;
    }

    .navbar-toggler-icon {
        width: 24px;
        height: 24px;
    }
}


/* 메인페이지 */
.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-title {
    font-size: 100px;
}

.main-title span {
    display: inline-block;
    animation: slideLeft 1.5s forwards;
    opacity: 0;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

@keyframes slideLeft {
    from {
        opacity: 0;
        transform: translateX(200px);
    }

    to {
        opacity: 1;
        transform: translateX(0%);
    }
}

.main-scroll {
    position: absolute;
    bottom: 10px;
    text-align: center;
    font-size: 20px;
    color: #ddd;
    animation: vibration .3s ease-in-out infinite;
}

@keyframes vibration {
    from {
        transform: rotate(1deg);
    }

    to {
        transform: rotate(-1deg);
    }
}

.c {
    width: 20px;
    height: 20px;
    position: absolute;
    z-index: 10;
    pointer-events: none;
}

.ci {
    width: 60px;
    height: 60px;
    border: 2px solid hsla(150 70% 70% / .6);
    border-radius: 100px;
    box-shadow: inset 0 0 25px hsla(150 70% 70% / .7);
    transform: translate(-50%, -50%);
    position: relative;
    z-index: 20;
}

.co {
    width: 10px;
    height: 10px;
    border-radius: 100px;
    background: hsla(var(--hue) 70% 70% / .7);
    position: fixed;
    transition: 1s;
}

/* 마우스 애니메이션 태블릿 크기에서 삭제 */
@media screen and (max-width: 820px) {
    .c {
        display: none;
    }

    .ci {
        display: none;
    }

    .co {
        display: none;
    }
}


/* 메인 페이지 반응형 */
@media screen and (max-width: 1600px) {
    .main-title {
        font-size: 6.25vw;
    }
}

@media screen and (max-width: 1024px) {
    .docSlider-button {
        display: none;
    }

    .main-scroll {
        font-size: 1.95vw;
    }
}


@media screen and (max-width: 670px) {
    .main-scroll {
        font-size: 13px;
    }

    a.nav-link,
    a.nav-link.active {
        font-size: 2.39vw;
    }
}

@media screen and (max-width: 503px) {

    a.nav-link,
    a.nav-link.active {
        font-size: 12px;
    }
}

@media screen and (max-width: 320px) {
    .main-title {
        font-size: 20px;
    }
}

/* 스킬 */
.my-pic img {
    width: 100%;
    height: 65vh;
    margin-bottom: 30px;
    filter: blur(10px) saturate(50%);
}

.my-pic img.on {
    filter: none;
}

.my-explain {
    text-align: justify;
    font-size: 20px;
    max-width: 100%;
    letter-spacing: -1.5px;
    line-height: 1.8;
    color: #ccc;
    filter: blur(10px);
}

.my-explain.on {
    color: #222;
    filter: none;
}

.skill {
    margin: 96px 4.1667vw;
    padding: 12px;
}

.skill-title {
    font-size: 24px;
    margin: 0px 0px 30px 5px;
    padding: 0px 15px;
}

.switch-button {
    position: relative;
    display: inline-block;
    width: 55px;
    height: 30px;
    margin-left: 16px;
}

.switch-button input {
    opacity: 0;
    width: 0;
    height: 0;
}

.onoff-switch {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 20px;
    background-color: #ccc;
    box-shadow: inset 1px 5px 1px #999;
    -webkit-transition: .4s;
    transition: .4s;
}

.onoff-switch:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 4px;
    bottom: 4px;
    background-color: #fff;
    -webkit-transition: .5s;
    transition: .4s;
    border-radius: 20px;
}

.switch-button input:checked+.onoff-switch {
    background-color: #424242;
    box-shadow: inset 1px 5px 1px #000;
}

.switch-button input:checked+.onoff-switch:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.skill-box ul,
.skill-box li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.skill-item {
    align-items: center;
    gap: 2vw;
    opacity: 0.5;
    height: 90px;
}

.html.on,
.css.on,
.js.on,
.react.on,
.ts.on,
.adobe.on,
.git.on,
.figma.on {
    opacity: 1;
}

.skill-item img {
    width: 100px;
    margin-bottom: 30px;
}

/* 스킬 반응형 */
@media screen and (max-width: 1410px) {
    .my-explain {
        font-size: 1.42vw;
    }
}

@media screen and (max-width: 1200px) {
    .my-explain {
        font-size: 17px;
    }
}

@media screen and (max-width: 991px) {
    .skill .row {
        align-content: flex-start;
        align-items: flex-end;
    }

    .my-pic {
        width: 93%;
        padding: 0px;
        margin-left: 12px;
        padding-right: 2.42vw;
    }

    .my-pic img {
        filter: none;
        height: 53.48vw;
    }

    .my-explain {
        align-content: center;
        filter: none;
        color: #222;
        width: 100%;
        margin-bottom: 20px;
    }

    .switch-button {
        display: none;
    }

    .skill-box {
        margin-left: 12px;
        width: 95%;
    }

    .skill-item {
        opacity: 1;
        display: inline;
    }

    .graph {
        display: none;
    }

    .skill-title {
        padding: 0px;
        margin-left: -25px;
        justify-content: center;
    }

    .skill-box {
        padding: 0px;
        margin: 0px;
    }

    .skill-box ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .skill-item img {
        padding-left: 0px;
        margin-right: 20px;
        width: 90px;
    }
}

@media screen and (max-width: 720px) {
    .skill-title {
        font-size: 3.33vw;
    }

    .my-explain {
        font-size: 2.36vw;
    }

    .skill-item img {
        width: 12.50vw;
    }
}

@media screen and (max-width: 551px) {
    .skill-title {
        font-size: 18.3px;
    }

    .my-explain {
        font-size: 13px;
    }

    .skill-item img {
        width: 68.88px;
    }
}

/* 막대 그래프 */
.graph {
    background: #ccc;
    height: 40px;
    border-radius: 40px;
    padding: 0;
    margin-bottom: 30px;
}

.graph span {
    display: none;
    border-radius: 40px;
    height: 40px;
    line-height: 40px;
    text-align: right;
    box-sizing: border-box;
    color: #fff;
}

.html-graph.on,
.css-graph.on,
.js-graph.on,
.react-graph.on,
.adobe-graph.on,
.git-graph.on,
.figma-graph.on {
    display: block;
}

.stack1 {
    animation: stack1 2s 1;
    background-color: #ec6630;
    width: 95%;
}

.stack2 {
    animation: stack2 2s 1;
    background-color: #0096e6;
    width: 85%;
}

.stack3 {
    animation: stack3 2s 1;
    background-color: #eeaf4b;
    width: 70%;
}

.stack4 {
    animation: stack4 2s 1;
    background-color: #2790ff;
    width: 60%;
}

.stack5 {
    animation: stack5 2s 1;
    background-color: #000;
    width: 65%;
}

.stack6 {
    animation: stack6 2s 1;
    background-color: #f44336;
    width: 90%;
}

.stack7 {
    animation: stack7 2s 1;
    background: linear-gradient(45deg, #ec4d6b, #af83c8, #7cb75e);
    width: 85%;
}

.stack8 {
    animation: stack8 2s 1;
    background: #3178c6;
    width: 40%;
}


@keyframes stack1 {
    0% {
        width: 0;
        color: rgba(255, 255, 255, 0);
    }

    40% {
        color: rgba(255, 255, 255, 1);
    }

    100% {
        width: 95%;
    }
}

@keyframes stack2 {
    0% {
        width: 0;
        color: rgba(255, 255, 255, 0);
    }

    40% {
        color: rgba(255, 255, 255, 1);
    }

    100% {
        width: 85%;
    }
}

@keyframes stack3 {
    0% {
        width: 0;
        color: rgba(255, 255, 255, 0);
    }

    40% {
        color: rgba(255, 255, 255, 1);
    }

    100% {
        width: 70%;
    }
}

@keyframes stack4 {
    0% {
        width: 0;
        color: rgba(255, 255, 255, 0);
    }

    40% {
        color: rgba(255, 255, 255, 1);
    }

    100% {
        width: 60%;
    }
}

@keyframes stack5 {
    0% {
        width: 0;
        color: rgba(255, 255, 255, 0);
    }

    40% {
        color: rgba(255, 255, 255, 1);
    }

    100% {
        width: 65%;
    }
}

@keyframes stack6 {
    0% {
        width: 0;
        color: rgba(255, 255, 255, 0);
    }

    40% {
        color: rgba(255, 255, 255, 1);
    }

    100% {
        width: 90%;
    }
}

@keyframes stack7 {
    0% {
        width: 0;
        color: rgba(255, 255, 255, 0);
    }

    40% {
        color: rgba(255, 255, 255, 1);
    }

    100% {
        width: 85%;
    }
}

@keyframes stack8 {
    0% {
        width: 0;
        color: rgba(255, 255, 255, 0);
    }

    40% {
        color: rgba(255, 255, 255, 1);
    }

    100% {
        width: 40%;
    }
}

/* 포트폴리오 */
.swiper {
    width: 90%;
    height: 680px;
    transform: translate(0%, 35%);
}

.swiper-wrapper {
    display: flex;
    align-items: center;
}

.swiper-slide {
    position: absolute;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-button-prev,
.swiper-button-next {
    width: calc(var(--swiper-navigation-size)/ 44) !important;
    position: absolute;
    top: 30% !important;
    margin-top: none !important;
    border-radius: 20px;
    color: #222 !important;
}

.swiper-button-prev:after,
.swiper-button-next:after {
    font-size: 1.1rem !important;
    font-weight: 600 !important;
}

.conteudo {
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: flex-end
}

.tela {
    background: #fff;
    width: 95%;
    height: 400px;
    box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.1);
}

.area1 {
    position: relative;
    width: 100%;
    height: 100%;
    background: url('../img/daegu.png') no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
}

.area2 {
    position: relative;
    width: 100%;
    height: 100%;
    background: url('../img/hyft.png');
    background-size: cover;
    background-position: center;
    color: white;
}

.area3 {
    position: relative;
    width: 100%;
    height: 100%;
    background: url('../img/dosirak.png');
    background-size: cover;
    background-position: center;
    color: white;
}

.area4 {
    position: relative;
    width: 100%;
    height: 100%;
    background: url('../img/baevolution.png');
    background-size: cover;
    background-position: center;
    color: white;
}

.area5 {
    position: relative;
    width: 100%;
    height: 100%;
    background: url('../img/todo.png');
    background-size: cover;
    background-position: center;
    color: white;
}

.area6 {
    position: relative;
    width: 100%;
    height: 100%;
    background: url('../img/goryeong.png');
    background-size: cover;
    background-position: center;
    color: white;
}

.area7 {
    position: relative;
    width: 100%;
    height: 100%;
    background: url('../img/cartris.png');
    background-size: cover;
    background-position: center;
    color: white;
}

.area8 {
    position: relative;
    width: 100%;
    height: 100%;
    background: url('../img/new.png');
    background-size: cover;
    background-position: center;
    color: white;
}

.black-box {
    position: relative;
    display: none;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.7;
    animation: visible 0.5s;
}

.area1 span,
.area2 span,
.area3 span,
.area4 span,
.area5 span,
.area6 span,
.area7 span,
.area8 span {
    font-size: 20px;
}

.area1 p,
.area2 p,
.area3 p,
.area4 p,
.area5 p,
.area6 p,
.area7 p,
.area8 p {
    z-index: 999;
    position: absolute;
    transform: translate(5%);
    bottom: 0;
    text-align: left;
    width: 90%;
    font-size: 18px;
}

.area1:hover .black-box,
.area2:hover .black-box,
.area3:hover .black-box,
.area4:hover .black-box,
.area5:hover .black-box,
.area6:hover .black-box,
.area7:hover .black-box,
.area8:hover .black-box {
    display: block;
}

.black-box:hover .area-subtitle {
    display: block;
    line-height: 2;
}


@keyframes visible {
    from {
        opacity: 0;
    }

    to {
        opacity: 0.7;
    }
}

.portfolio-btn {
    border-radius: 20px;
    margin-top: 15px;
}

/* 포트폴리오 반응형 */
@media screen and (max-width: 1525px) {

    .area-subtitle,
    .area-subtitle span {
        font-size: 1.04vw !important;
    }
}

@media screen and (max-width: 1350px) {

    .area-subtitle,
    .area-subtitle span {
        font-size: 15px !important;
    }
}

@media screen and (max-width: 719px) {
    .swiper {
        width: 90%;
        height: 500px;
        transform: translate(0%, 40%);
    }

    .swiper-button-next:after,
    .swiper-button-prev:after {
        margin-top: 110px;
    }

    .area-subtitle,
    .area-subtitle span {
        font-size: 2.09vw !important;
    }

    .conteudo {
        align-items: center;
        padding-left: 15px;
    }

    .tela {
        width: 90%;
    }

    .btn-outline-dark {
        width: 60px;
        font-size: 12px;
    }
}

@media screen and (max-width: 570px) {

    .area-subtitle,
    .area-subtitle span {
        font-size: 13px !important;
    }
}

/* 마지막 페이지 */
.final {
    align-items: center;
    align-content: center;
    background-color: #222;
    flex-wrap: norwap;
}

.final img {
    height: 100vh;
    padding: 0;
}

.final-text {
    display: inline;
    font-size: 70px;
    position: absolute;
    top: 20%;
    color: rgba(255, 255, 255, 0.5);
    margin-left: 4.5vw;
    line-height: 1.2;
}

.final-text:hover .white {
    color: rgba(255, 255, 255, 1);
}

.final-text:hover .hover-none {
    color: rgba(255, 255, 255, 0.5);
}

.final-goal {
    display: none;
    position: absolute;
    margin-left: 4.5vw;
    color: rgba(255, 255, 255, 0.9);
    top: 690px;
    font-size: 18px;
    letter-spacing: -2px;
    text-align: justify;
    padding: 24px;
    line-height: 1.5;
}

.gmail {
    color: #fff;
    position: fixed;
    bottom: 20%;
    right: 200px;
    font-size: 18px;
}

.copyright {
    color: rgba(255, 255, 255, 0.5);
    position: absolute;
    font-size: 16px;
    bottom: 50px;
    left: 4.3vw;
    padding: 24px;
}

/* 마지막 페이지 반응형 */
@media screen and (max-width: 1200px) {
    .final {
        overflow-x: hidden;
    }

    .final-text {
        font-size: 5.83vw;
    }

    .gmail {
        font-size: 1.50vw;
    }

    .final-goal {
        font-size: 1.50vw;
    }
}

@media screen and (max-width: 940px) {
    .final-text {
        width: 100%;
    }

    .final-goal {
        width: 100%;
        top: 73.40vw;
    }

    .copyright {
        font-size: 1.70vw;
    }
}

@media screen and (max-width: 870px) {
    .gmail {
        font-size: 13px;
    }

    .final-goal {
        font-size: 13px;
    }
}

@media screen and (max-width: 720px) {
    .copyright {
        font-size: 12.24px;
    }
}

@media screen and (max-width: 540px) {
    .final-goal {
        display: block !important;
        top: 360px;
    }
}

@media screen and (max-width: 500px) {
    .final-text {
        color: #fff;
    }

    .final-text:hover .white {
        color: #fff;
    }

    .final-goal {
        display: block !important;
    }
}

@media screen and (max-width: 375px) {
    .final-goal {
        display: block !important;
    }
}