@charset "utf-8";

@import url("./font.css");

/* 공통 */
body {
    font-family: 'Pretendard-R';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #222;

}

section {
    width: 100%;
    height: 100vh;
}

/* 굵은 폰트 */
.bolder {
    font-family: 'Pretendard-EB';
}

.bold {
    font-family: 'Pretendard-B';
}

/* 헤더 시작 */

.navbar-brand {
    color: #222;
}

.bg-body-tertiary {
    background-color: #fff;
    --bs-bg-opacity: 0;
}

.navbar-brand-txt {
    font-size: 16px;
    font-family: 'Pretendard-R';
}

.nav-link {
    color: #222;
}

.nav-link.on {
    color: white;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
    color: #222;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.navbar-logo img {
    width: 30px;
}

@media screen and (max-width: 991px) {
    .navbar-logo {
        display: none;
    }
}

/* 컨테이너 */
.wrapper {}

/* 메인페이지 */
.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-title {
    font-size: 100px;
}

.main-title span {
    display: inline-block;
    animation: slideLeft 1.5s forwards;
    opacity: 0;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

@keyframes slideLeft {
    from {
        opacity: 0;
        transform: translateX(200px);
    }

    to {
        opacity: 1;
        transform: translateX(0%);
    }
}

/* 스킬 */
.my-pic img {
    width: 100%;
    height: 65vh;
    margin-bottom: 30px;
    filter: blur(10px) saturate(50%);
}

.my-pic img.on {
    filter: none;
}

.my-explain {
    text-align: justify;
    font-size: 20px;
    max-width: 100%;
    letter-spacing: -1.5px;
    line-height: 1.8;
    color: #ccc;
    filter: blur(10px);
}

.my-explain.on {
    color: #222;
    filter: none;
}

.skill {
    margin: 96px 4.1667vw;
    padding: 12px;
}

.skill-title {
    font-size: 24px;
    margin: 0px 0px 30px 5px;
    padding: 0px 15px;
}

.switch-button {
    position: relative;
    display: inline-block;
    width: 55px;
    height: 30px;
    margin-left: 16px;
}

.switch-button input {
    opacity: 0;
    width: 0;
    height: 0;
}

.onoff-switch {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 20px;
    background-color: #ccc;
    box-shadow: inset 1px 5px 1px #999;
    -webkit-transition: .4s;
    transition: .4s;
}

.onoff-switch:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 4px;
    bottom: 4px;
    background-color: #fff;
    -webkit-transition: .5s;
    transition: .4s;
    border-radius: 20px;
}

.switch-button input:checked+.onoff-switch {
    background-color: #424242;
    box-shadow: inset 1px 5px 1px #000;
}

.switch-button input:checked+.onoff-switch:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.skill-box ul,
.skill-box li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.skill-item {
    align-items: center;
    gap: 2vw;
    opacity: 0.5;
}

.html.on,
.css.on,
.js.on,
.react.on,
.adobe.on,
.git.on,
.figma.on {
    opacity: 1;
}

.skill-item img {
    width: 100px;
    margin-bottom: 30px;
}

/* 막대 그래프 */
.graph {
    background: #ccc;
    height: 40px;
    border-radius: 40px;
    padding: 0;
    margin-bottom: 30px;
}

.graph span {
    display: none;
    border-radius: 40px;
    height: 40px;
    line-height: 40px;
    text-align: right;
    box-sizing: border-box;
    color: #fff;
}

.html-graph.on,
.css-graph.on,
.js-graph.on,
.react-graph.on,
.adobe-graph.on,
.git-graph.on,
.figma-graph.on {
    display: block;
}

.stack1 {
    animation: stack1 2s 1;
    background-color: #ec6630;
    width: 95%;
}

.stack2 {
    animation: stack2 2s 1;
    background-color: #0096e6;
    width: 85%;
}

.stack3 {
    animation: stack3 2s 1;
    background-color: #eeaf4b;
    width: 70%;
}

.stack4 {
    animation: stack4 2s 1;
    background-color: #2790ff;
    width: 40%;
}

.stack5 {
    animation: stack5 2s 1;
    background-color: #000;
    width: 60%;
}

.stack6 {
    animation: stack6 2s 1;
    background-color: #f44336;
    width: 90%;
}

.stack7 {
    animation: stack7 2s 1;
    background: linear-gradient(45deg, #ec4d6b, #af83c8, #7cb75e);
    width: 85%;
}


@keyframes stack1 {
    0% {
        width: 0;
        color: rgba(255, 255, 255, 0);
    }

    40% {
        color: rgba(255, 255, 255, 1);
    }

    100% {
        width: 95%;
    }
}

@keyframes stack2 {
    0% {
        width: 0;
        color: rgba(255, 255, 255, 0);
    }

    40% {
        color: rgba(255, 255, 255, 1);
    }

    100% {
        width: 85%;
    }
}

@keyframes stack3 {
    0% {
        width: 0;
        color: rgba(255, 255, 255, 0);
    }

    40% {
        color: rgba(255, 255, 255, 1);
    }

    100% {
        width: 70%;
    }
}

@keyframes stack4 {
    0% {
        width: 0;
        color: rgba(255, 255, 255, 0);
    }

    40% {
        color: rgba(255, 255, 255, 1);
    }

    100% {
        width: 40%;
    }
}

@keyframes stack5 {
    0% {
        width: 0;
        color: rgba(255, 255, 255, 0);
    }

    40% {
        color: rgba(255, 255, 255, 1);
    }

    100% {
        width: 60%;
    }
}

@keyframes stack6 {
    0% {
        width: 0;
        color: rgba(255, 255, 255, 0);
    }

    40% {
        color: rgba(255, 255, 255, 1);
    }

    100% {
        width: 90%;
    }
}

@keyframes stack7 {
    0% {
        width: 0;
        color: rgba(255, 255, 255, 0);
    }

    40% {
        color: rgba(255, 255, 255, 1);
    }

    100% {
        width: 85%;
    }
}

/* 포트폴리오 */
.portfolio {
    align-items: center;
    align-content: center;
    text-align: center;
}

.portfolio-item {
    height: 35%;
    margin-top: 50px;
}

.daegu-img img {
    width: 88%;
    height: 250px;
    border-radius: 20px;
    padding: 0;
}

.daegu-btn {
    justify-content: center;
    padding-top: 15px;
    margin-left: 30px;
    width: 90%;
    gap: 10px;
}

.btn-outline-dark {
    border-radius: 20px;
}

.hyft-img img {
    width: 88%;
    height: 250px;
    border-radius: 20px;
    padding: 0;
}

.dosirak-img img {
    width: 88%;
    border-radius: 20px;
    padding: 0;
    height: 250px;
}

/* 마지막 페이지 */
.final {
    align-items: center;
    align-content: center;
    background-color: #222;
    flex-wrap: norwap;
}

/* .final-video {
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.final-video video {
    width: 100%;
} */

.final img {
    height: 100vh;
    padding: 0;
}

.final-text {
    display: inline;
    font-size: 100px;
    position: absolute;
    transform: 50%;
    color: rgba(255, 255, 255, 0.5);
    margin-left: 4.5vw;
    line-height: 1.2;
}

.final-text:hover span {
    color: rgba(255, 255, 255, 1);
}

.gmail {
    color: #fff;
    position: fixed;
    bottom: 190px;
    right: 200px;
    font-size: 18px;
}